h1{
    border: 5px solid#fff;
    animation: flicker 1.5s infinite alternate;
    color:white;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
    margin-bottom: 40px;
    margin-top: 40px;
}


h1:hover{
    cursor: pointer;
    color: rebeccapurple;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px rebeccapurple,
            0 0 82px rebeccapurple,
            0 0 92px rebeccapurple,
            0 0 102px rebeccapurple,
            0 0 151px rebeccapurple;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px lightgreen,
        0 0 11px lightgreen,
        0 0 19px lightgreen,
        0 0 40px lightgreen,
        0 0 80px rebeccapurple,
        0 0 90px rebeccapurple,
        0 0 100px rebeccapurple,
        0 0 150px rebeccapurple;
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #F4FFF8;
    margin: 0;
}

.logo{
    width: 50px;
    height: 50px;
}
header{
    background-color: black;
    width: 100 vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-name{
    margin-left: 20px;
    /* width: 350px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-name{
    color: white;
}

nav{
    cursor: pointer;
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.kount{
    color:white;
    margin-bottom: 0;
    margin-left: 15px;
}

.cart-count{
    margin-top: -33px;
}

a{
    color: white;
}

button{
    cursor: pointer;
    background-color:red;
    color: white;
}

button:hover{
    cursor: pointer;
    border:solid 2px black;
    background-color: lightgreen;
    color:black;
    transform:
    scale(1.1)
}

button:active {
    transform:
      scale(1)
}

.check-out{
    position: absolute;
    bottom: 10px;
    margin-left: 110px;
}


#nft-container {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }


.nft-card {
    background-color: turquoise;
    width: 200px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

.nft-image{
    width: 200px;
    height: 200px;
}

footer{
    color: white;
    background-color: black;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.newsletter{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 20px;
    display: flex;
    width: 740px;
    align-items: center;
    justify-content: space-evenly;
}

.sign-newsletter{
    margin-right: 20px;
}

.tm{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30px;
}





.cart-items{
    border-radius: 10px;
    position: absolute;
    width: 300px;
    height: 400px;
    margin-top: 0px;
    background-color:grey;
    right: 10px;
    opacity: 0;
    transition: 1s;
}

.extend{
    height: 800px;
}

.cart-image{
    width: 50px;
    height: 50px;
}

.cart-card{
    width: 200px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 250px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
}

.delete-btn{
    margin-top: 15px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.open{
    opacity: 1;
}

.close{
    opacity: 0;
}

.add-button{
    margin-bottom: 10px;
}

.dark-theme{
    background-color: black;
    color:white;
}

.theme-border{
    border-top: 2px solid #F4FFF8 ;
    border-bottom: 2px solid #F4FFF8 ;
}




.cicle-container{
    width: 40px;
    background-color: white;
    height: 20px;
    display: flex;
    justify-content: flex-start;
    border: 2px solid rebeccapurple;
    border-radius: 50px;
}

.first-circle {
    background-color: black;
    width: 30px;
    height: 20px;
    border-radius: 50px;
    margin-top: 0;
}



.change-flex{
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 750px){
.cicle-container{
    width: 20px;
    height: 10px;

}
.first-circle{
    width: 10px;
    height: 10px;
}
h1{
    font-size: 18px;
}
.header-name{
    margin-left: 10px;
    font-size: 13px;
}

nav{
    width: 190px;
    font-size: 10px;
}

.logo-name{
    width: 200px;
}

#search{
    width: 40px;
    font-size: 5px;
}

.name-input{
    width: 50px;
    height: 8px;
}

.tm{
    font-size: 10px;
    
}

.sign-text{
    font-size: 10px;
}

#sign-up{
    width: 40px;
    font-size: 5px;
}

.email{
    width: 50px;
    height: 8px;
}

.newsletter{
    width: 450px;
}

.sign-newsletter{
    width: 150px;
    margin-left: 20px;
    margin-right: 0;
}
#nft-container {
    margin-bottom: 50px;
}


}


@media screen and (max-width: 850px){
    .tm{
        font-size: 10px;
        
    }
    
    .sign-text{
        font-size: 8px;
    }
    
    #sign-up{
        width: 40px;
        font-size: 5px;
    }
    
    .email{
        width: 50px;
        height: 8px;
    }
    
    .newsletter{
        width: 450px;
        margin-left: 20px;
    }
    
    .sign-newsletter{
        width: 140px;
        margin-left: 20px;
        margin-right: 0;
    }
    .kount{
        color:white;
        margin-bottom: 0;
        margin-left: 7px;
    }
    .cart-count{
        margin-top: -20px;
    }

}


@media screen and (max-width: 435px){
.cicle-container{
    width: 17px;
    height: 10px;

}
.first-circle{
    width: 12px;
    height: 10px;
}
h1{
    font-size: 18px;
}
.header-name{
    margin-left: 10px;
    font-size: 8px;
}

nav{
    max-width: 140px;
    font-size: 8px;
}

.logo-name{
    max-width: 100px;
    margin-left: 5px;
}

#search{
    width: 30px;
    font-size: 4px;
}

.name-input{
    width: 30px;
    height: 6px;
    font-size: 6px;
}

.tm{
    font-size: 10px;
    
}

.sign-text{
    font-size: 7px;
}

#sign-up{
    width: 40px;
    font-size: 5px;
}

.email{
    width: 50px;
    height: 8px;
}

.newsletter{
    width: 250px;
}

.sign-newsletter{
    width: 150px;
    margin-left: 10px;
    margin-right: 0;
}
#nft-container {
    margin-bottom: 50px;
}

.kount{
    color:white;
    margin-bottom: 0;
    margin-left: 7px;
}

.cart-count{
    margin-top: -18px;
}

}